.chart div {
    font: 10px sans-serif;
/**
    text-align: right;**/
    padding: 3px;
    color: white;
    background-color: grey;
    margin-right: 1vw;
    margin-bottom: 1vw;
    height: 20px;
    width: 50px;
    }
